<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    <title>Epam.Task11</title>
</head>
<body>
    <header id="header">
        <h1>Epam.Task11-12</h1>
    </header>
    <div id="container">
        @RenderPage("~/Auth/_LoginPartial.cshtml")

        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)
    @RenderPage("/Common.cshtml")
</body>
</html>
