body{
	width: 100%;
	vertical-align: top;
}
.container{
	margin-top: 1%;
	width: 34%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	margin: auto;
}
#left{
	width: 33%;
	height: 100vh;
	left: 0;
	display: inline-block;
	color: white;
	opacity: 0;
}
#timer{
	font-size: 20pt;
	color: white;
	width: 10%;
	background: #4a76a8;
	display: inline-block;
	border-radius: 5px;
	vertical-align: top;
	text-align: center;
	height: 50px
}
#left:hover{	
	background: linear-gradient(90deg, #BFBFBF, #FFFFFF);
	cursor: pointer;
	opacity: 10;
}
#right{
	position: relative;
	width: 32%;
	height: 100vh;
	right: 0;
	display: inline-block;;
	text-align: right;
	color: white;
	opacity: 0;
}
#right:hover{
	background: linear-gradient(-90deg, #BFBFBF, #FFFFFF);
	cursor: pointer;
	opacity: 10;
}
#repeat, #startTimer{
	opacity: 0.5;
	width: 30%;
	height: 80px;
	display: inline-block;
	background-color: #4a76a8;
	border-radius: 20px;
	top: 0;
	color: white ;
	margin-bottom: 2px;
}
#repeat:hover, #startTimer:hover{
	opacity: 0.7;
	cursor: pointer;
}
#text{
	font-size: 20pt;
}