@{
    Layout = "~/_Layout.cshtml";
}

@using Epam.Users.BLL.Interface;
@using Epam.Users.Common;

@if (IsPost)
{
    IAccountLogic accountLogic = DependencyResolver.AccountLogic;
    var user = Request["UserName"];
    var password = Request["Password"];

    try
    {
        accountLogic.Registration(user, password);

        Response.Redirect("~");
    }
    catch (Exception e)
    {
        <h2>Error: @e.Message</h2>
        <br />
    }
}

<h2>Registration</h2>
<form method="post">
    <label>Choose your nickname: </label>
    <input type="text" name="Username" value="" />
    <label>Password</label>
    <input type="password" name="Password" value="" />
    <button>Registration</button>
</form>
<div id="ErrorField"></div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    (function () {

        var $inputName,
            $inputPassword;

        var data = {};

        $.submit(function (event) {
            event.preventDefault()
            $inputName = $("input[name=Username]");
            $inputPassword = $("input[name=Password]");

            data = { username: $inputName.val(), password: $inputPassword.val() }

            $.ajax({
                method: "POST",
                url: "/Auth/Registration",
                data: data,
                success: function (response) {
                    $("#ErrorField").html(response);
                },
            })
        })
    })();
</script>
